* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  font-size: 62.5%;

  /* font-family: 'Courgette', cursive; */
  font-family: 'Inter', sans-serif;
  background: var(--bg);
}

body.light {
  --bg: #E9D5DA;

  --primary: #82739738;
  --secundary: #e6d7fc;

  --bg-button: #827397;
  --border: #363062;
  --font: #191212;
}

body.dark {
  --bg: #121214;

  --primary: rgba(17, 17, 17, 0.247);
  --secundary: #1213;

  --bg-button: #04d361;
  --border: #04d361;
  --font: #e5e5e5;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 3rem 0 2rem 0;
}

h1 {
  margin-bottom: 5rem;
  font-family: 'Courgette', cursive;
  font-size: 3.6rem;
  text-align: center;
  color: var(--font);
}

button {
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  background: var(--bg-button);
  color: var(--bg);
  transition: .5s;
}

button:hover {
  filter: brightness(1.08)
}

input {
  background: none;
  border: 0;
  width: 25rem;
  color: var(--font);
}

p {
  color: var(--font);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.3rem;
  width: 100%;
  margin: 6rem 0 2rem 0;
}

footer a {
  color: var(--font);
  text-decoration: none;
  transition: .5s;
}

footer a:hover{
  color: #04d361;
  text-decoration: underline;
}