* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  --bg: #E9D5DA;

  --primary: #82739738;
  --secundary: #e6d7fc;

  --bg-button: #827397;
  --border: #363062;
  --font: #191212;


  width: 100vw;
  height: 100vh;
  font-size: 62.5%;

  /* font-family: 'Courgette', cursive; */
  font-family: 'Inter', sans-serif;
  background: var(--bg);
}

h1 {
  margin: 3rem 0 4rem 0;
  font-family: 'Courgette', cursive;
  font-size: 3.6rem;
  text-align: center;
  color: var(--font);
}

button {
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  background: var(--bg-button);
  color: var(--secundary);
}

button:hover {
  filter: brightness(1.1)
}

input {
  background: none;
  border: 0;
  width: 25rem;
  color: var(--font);
}

p {
  color: var(--font);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.3rem;
  width: 100%;
  margin: 6rem 0 2rem 0;
}

footer a {
  color: var(--font);
  text-decoration: none;
}

footer a:hover{
  color: #260;
}