#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#box {
  width: 60%;
  min-width: 270px;
}

#search {
  width: 100%;
}

.text-user {
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  height: 5rem;
  border: 0;
  background: #2236;
  border-radius: 2rem 2rem 0 0;
}

.box-warning {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cep-invalid {
  display: none;
  opacity: .5;
  margin: 0 auto 1rem auto;
  font-size: 3rem;
  font-family: 'Courgette', cursive;
}

.cep-length {
  display: none;
  margin: 0 auto 0 auto;
}

.cep-existent {
  display: none;
  margin: 0 auto 0 auto;
}

.btn-search {
  width: 100%;
  height: 5rem;
  border: 0;
  border-radius: 0 0 2rem 2rem;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}


.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 270px;
  padding: 1rem;
  min-height: 2rem;
  border-radius: 2rem;
  border: 1px solid var(--border);
  font-size: 1.2rem;
}

.result-input {
  width: 40rem;
  min-width: 25rem;
  margin: 1%;
  display: none;
  padding: 1rem;
}

.box-result {
  display: none;
  width: 40rem;
  min-width: 25rem;
}

.result-form { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border);
  border-radius: 2rem;
  padding: 1rem;
  width: 100%;
}

.box-result-form {
  min-height: 5rem;
}

.btn-copy {
  width: 20rem;
  padding: 1rem;
  border: 0;
  border-radius: 2rem;
}

.msg-copy {
  opacity: 0;
  transition: .5ms;
  margin-bottom: 0.5rem;
  font-size: 1.0rem;
  color: green;
}

